# Combining Dates and Times
Bike sharing programs have swept through cities around the world -- and luckily for us, every trip gets recorded! Working with all of the comings and goings of one bike in Washington, D.C., you'll practice working with dates and times together. You'll parse dates and times from text, analyze peak trip times, calculate ride durations, and more.

In [1]:
import pandas as pd

capital_onebike = pd.read_csv('D:/Development/DataCamp/Data Science with Python - Career Track/13. Working with Dates and Times in Python/datasets/capital-onebike.csv')

In [2]:
capital_onebike.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

### 1. Creating Datetimes by Hand

 Often you create datetime objects based on outside data. Sometimes though, you want to create a datetime object from scratch.

 You're going to create a few different datetime objects from scratch to get the hang of that process. These come from the bikeshare data set that you'll use throughout the rest of the chapter.
 
 Instructions:
 1. Import the datetime class. Create a datetime for October 1, 2017 at `15:26:26`. Print the results in ISO format.
 2. Import the datetime class. Create a datetime for December 31, 2017 at `15:19:13`. Print the results in ISO format.
 3. Create a new datetime by replacing the year in dt with 1917 (instead of 2017)

In [3]:
# 1.
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 10, 1, 15, 26, 26)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-10-01T15:26:26

In [4]:
# 2.
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 12, 31, 15, 19, 13)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-12-31T15:19:13

In [5]:
# 3.
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 12, 31, 15, 19, 13)

# Replace the year with 1917
dt_old = dt.replace(year=1917)

# Print the results in ISO 8601 format
print(dt_old)

1917-12-31 15:19:13

### 2. Counting Events Before and After Noon

 In this chapter, you will be working with a list of all bike trips for one Capital Bikeshare bike, W20529, from October 1, 2017 to December 31, 2017. This list has been loaded as onebike_datetimes.

 Each element of the list is a dictionary with two entries: start is a datetime object corresponding to the start of a trip (when a bike is removed from the dock) and end is a datetime object corresponding to the end of a trip (when a bike is put back into a dock).

 You can use this data set to understand better how this bike was used. Did more trips start before noon or after noon?
 
 Instructions:
 - Within the for loop, complete the if statement to check if the trip started before noon.
 - Within the for loop, increment trip_counts['AM'] if the trip started before noon, and trip_counts['PM'] if it started after noon.

In [ ]:
# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}
  
# Loop over all trips
for trip in onebike_datetimes:
  # Check to see if the trip starts before noon
  if trip['start'].hour < 12:
    # Increment the counter for before noon
    trip_counts['AM'] += 1
  else:
    # Increment the counter for after noon
    trip_counts['PM'] += 1
  
print(trip_counts)

### 3. Turning Strings into Datetimes

 When you download data from the Internet, dates and times usually come to you as strings. Often the first step is to turn those strings into datetime objects.

 In this exercise, you will practice this transformation.

 Reference:	
 - %Y -> 4 digit year (0000-9999)
 - %m -> 2 digit month (1-12)
 - %d -> 2 digit day (1-31)
 - %H -> 2 digit hour (0-23)
 - %M -> 2 digit minute (0-59)
 - %S -> 2 digit second (0-59)
 
 Instructions:
 1. Determine the format needed to convert s to datetime and assign it to fmt. Convert the string s to datetime using fmt.
 2. Determine the format needed to convert s to datetime and assign it to fmt. Convert the string s to datetime using fmt.
 3. Determine the format needed to convert s to datetime and assign it to fmt. Convert the string s to datetime using fmt.

In [6]:
# 1.
# Import the datetime class
from datetime import datetime

# Starting string, in YYYY-MM-DD HH:MM:SS format
s = '2017-02-03 00:00:01'

# Write a format string to parse s
fmt = '%Y-%m-%d %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

2017-02-03 00:00:01

In [7]:
# 2.
# Import the datetime class
from datetime import datetime

# Starting string, in YYYY-MM-DD format
s = '2030-10-15'

# Write a format string to parse s
fmt = '%Y-%m-%d'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

2030-10-15 00:00:00

In [8]:
# 3.
# Import the datetime class
from datetime import datetime

# Starting string, in MM/DD/YYYY HH:MM:SS format
s = '12/15/1986 08:00:00'

# Write a format string to parse s
fmt = '%m/%d/%Y %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

1986-12-15 08:00:00

### 4. Parsing Pairs of Strings as Datetimes

 Up until now, you've been working with a pre-processed list of datetimes for W20529's trips. For this exercise, you're going to go one step back in the data cleaning pipeline and work with the strings that the data started as.

 Explore onebike_datetime_strings in the IPython shell to determine the correct format. datetime has already been loaded for you.

 Reference:
 - %Y -> 4 digit year (0000-9999)
 - %m -> 2 digit month (1-12)
 - %d -> 2 digit day (1-31)
 - %H -> 2 digit hour (0-23)
 - %M -> 2 digit minute (0-59)
 - %S -> 2 digit second (0-59)
 
 Instructions:
 - Outside the for loop, fill out the fmt string with the correct parsing format for the data.
 - Within the for loop, parse the start and end strings into the trip dictionary with start and end keys and datetime objects for values.

In [9]:
onebike_datetime_strings = [('2017-12-25 13:46:44', '2017-12-25 14:20:50'), 
                            ('2017-12-26 10:40:16', '2017-12-26 10:53:45'), 
                            ('2017-12-27 16:56:12', '2017-12-27 17:17:39'), 
                            ('2017-12-29 06:02:34', '2017-12-29 06:12:30'), 
                            ('2017-12-29 12:21:03', '2017-12-29 12:46:16'), 
                            ('2017-12-29 14:32:55', '2017-12-29 14:43:46'), 
                            ('2017-12-29 15:08:26', '2017-12-29 15:18:51'), 
                            ('2017-12-29 20:33:34', '2017-12-29 20:38:13'), 
                            ('2017-12-30 13:51:03', '2017-12-30 13:54:33'), 
                            ('2017-12-30 15:09:03', '2017-12-30 15:19:13')]

In [10]:
# Write down the format string
fmt = "%Y-%m-%d %H:%M:%S"

# Initialize a list for holding the pairs of datetime objects
onebike_datetimes = []

# Loop over all trips
for (start, end) in onebike_datetime_strings:
  trip = {'start': datetime.strptime(start, fmt),
          'end': datetime.strptime(end, fmt)}
  
  # Append the trip
  onebike_datetimes.append(trip)

### 5. Recreating ISO Format with strftime()

 In the last chapter, you used strftime() to create strings from date objects. Now that you know about datetime objects, let's practice doing something similar.

 Re-create the .isoformat() method, using .strftime(), and print the first trip start in our data set.

 Reference:
 - %Y -> 4 digit year (0000-9999)
 - %m -> 2 digit month (1-12)
 - %d -> 2 digit day (1-31)
 - %H -> 2 digit hour (0-23)
 - %M -> 2 digit minute (0-59)
 - %S -> 2 digit second (0-59)
 
 Instructions:
 - Complete fmt to match the format of ISO 8601.
 - Print first_start with both .isoformat() and .strftime(); they should match.

In [11]:
# Import datetime
from datetime import datetime

# Pull out the start of the first trip
first_start = onebike_datetimes[0]['start']

# Format to feed to strftime()
fmt = "%Y-%m-%dT%H:%M:%S"

# Print out date with .isoformat(), then with .strftime() to compare
print(first_start.isoformat())
print(first_start.strftime(fmt))

2017-12-25T13:46:44
2017-12-25T13:46:44

### 6. Unix Timestamps

 Datetimes are sometimes stored as Unix timestamps: the number of seconds since January 1, 1970. This is especially common with computer infrastructure, like the log files that websites keep when they get visitors.
 
 Instructions:
 - Complete the for loop to loop over timestamps.
 - Complete the code to turn each timestamp ts into a datetime.

In [12]:
# Import datetime
from datetime import datetime

# Starting timestamps
timestamps = [1514665153, 1514664543]

# Datetime objects
dts = []

# Loop
for ts in timestamps:
  dts.append(datetime.fromtimestamp(ts))
  
# Print results
print(dts)

[datetime.datetime(2017, 12, 31, 3, 19, 13), datetime.datetime(2017, 12, 31, 3, 9, 3)]

### 7. Turning Pairs of Datetimes into Durations

 When working with timestamps, we often want to know how much time has elapsed between events. Thankfully, we can use datetime arithmetic to ask Python to do the heavy lifting for us so we don't need to worry about day, month, or year boundaries. Let's calculate the number of seconds that the bike was out of the dock for each trip.

 Continuing our work from a previous coding exercise, the bike trip data has been loaded as the list onebike_datetimes. Each element of the list consists of two datetime objects, corresponding to the start and end of a trip, respectively.
 
 Instructions:
 - Within the loop:
   - Use arithmetic on the start and end elements to find the length of the trip
   - Save the results to trip_duration.
   - Calculate trip_length_seconds from trip_duration.

In [13]:
# Initialize a list for all the trip durations
onebike_durations = []

for trip in onebike_datetimes:
  # Create a timedelta object corresponding to the length of the trip
  trip_duration = trip['end'] - trip['start']
  
  # Get the total elapsed seconds in trip_duration
  trip_length_seconds = trip_duration.total_seconds()
  
  # Append the results to our list
  onebike_durations.append(trip_length_seconds)

### 8. Average Trip Time

 W20529 took 291 trips in our data set. How long were the trips on average? We can use the built-in Python functions sum() and len() to make this calculation.

 Based on your last coding exercise, the data has been loaded as onebike_durations. Each entry is a number of seconds that the bike was out of the dock.
 
 Instructions:
 - Calculate total_elapsed_time across all trips in onebike_durations.
 - Calculate number_of_trips for onebike_durations.
 - Divide total_elapsed_time by number_of_trips to get the average trip length.

In [14]:
# What was the total duration of all trips?
total_elapsed_time = sum(onebike_durations)

# What was the total number of trips?
number_of_trips = len(onebike_durations)
  
# Divide the total duration by the number of trips
print(total_elapsed_time / number_of_trips)

862.6

### 9. The Long and The Short of Why Time is Hard

 Out of 291 trips taken by W20529, how long was the longest? How short was the shortest? Does anything look fishy?

 As before, data has been loaded as onebike_durations.
 
 Instructions:
 - Calculate shortest_trip from onebike_durations.
 - Calculate longest_trip from onebike_durations.
 - Print the results, turning shortest_trip and longest_trip into strings so they can print.

In [15]:
# Calculate shortest and longest trips
shortest_trip = min(onebike_durations)
longest_trip = max(onebike_durations)

# Print out the results
print("The shortest trip was " + '{}'.format(shortest_trip) + " seconds")
print("The longest trip was " + '{}'.format(longest_trip) + " seconds")

The shortest trip was 210.0 seconds
The longest trip was 2046.0 seconds