# Intermediate to Python

### No. 1


 Here's the dictionary `datacamp`: 

 datacamp = { 'course':'python', 
            'level':'intermediate', 
            'lesson': {'dictionaries':'python', 
                       'lists':'r' } }
  
  Complete the code to return the output 
  
  `datacamp["practice"] = 100`
  
  `"practice" ? datacamp`
  
  Output:
  
  True
  
  Multiple Choice:
  
  A. is in
  
  B. in
  
  C. is not in
  
  D. not in

In [2]:
datacamp = { 'course':'python', 
            'level':'intermediate', 
            'lesson': {'dictionaries':'python', 
                       'lists':'r' } }

datacamp["practice"] = 100
"practice" in datacamp

True

### No. 2

In [3]:
i = 1
while i < 5: #?
  print(i)
  i += 1

1
2
3
4

### No. 3

In [4]:
x = 'C'

if x == 'A': 
    print(1)
elif x == 'B':
    print(6)
else:
    print(10)

10

### No. 4

 Compare  the following numpy arrays: 

 Output:

 [False  True  True False]

In [6]:
import numpy as np

numpy1 = np.array([17.2, 20.0, 8.25, 9.50])
numpy2 = np.array([13.0, 24.0, 8.25, 9.0])

In [7]:
print(numpy1 <= numpy2)

[False  True  True False]

### No. 5

 Output:
 
 AAPL is Apple
 
 AMZN is Amazon

In [8]:
stocks = {'Apple': 'AAPL', 'Amazon': 'AMZN'}

for p, q in stocks.items():
    print(q + ' is ' + p)

AAPL is Apple
AMZN is Amazon

### No. 6

 Output:
 
 2
 
 3
 
 4

In [9]:
i = 1

while i <= 3:
    i = i + 1
    print(i)

2
3
4